@import '../../../styles/colors.module.scss';

.footer {
  display: flex;
  justify-content: space-between;
  padding: 60px 80px;
  font-weight: 500;
  font-size: 16px;
  color: $color-light-text;
  background-color: $color-footer;
  align-items: center;

  a {
    text-decoration: none;
    color: $color-light-text;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

    li {
      margin-right: 40px;
    }
  }
}

.logo {
  margin-right: 179px;
}

.panel {
  &__social {
    display: flex;
    align-items: center;
  }

  &__nav {
    display: flex;
  }
}

.instagram {
  margin-right: 18px;
}
