@import '../../../styles/colors.module.scss';

.footer {
  display: flex;
  justify-content: space-between;
  padding: 60px 80px;
  font-weight: 500;
  font-size: 16px;
  color: $color-light-text;
  background-color: $color-footer;

  a {
    text-decoration: none;
    color: $color-light-text;
    line-height: 30px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    li {
      margin-right: 40px;
    }
  }
}

.logo {
  margin-right: 179px;
}

.panel {
  &__social {
    display: flex;
    align-items: center;
  }

  &__nav {
    display: flex;
  }
}

.facebook {
  display: flex;
  &::before {
    width: 26px;
    height: 25px;
    content: '';
    background-image: url('/assets/icons/facebook.svg');
  }
}

.instagram {
  margin-right: 18px;
  display: flex;
  &::before {
    width: 24px;
    height: 24px;
    content: '';
    background-image: url('/assets/icons/instagram.svg');
  }
}
