@import '/styles/colors.module.scss';

.rating {
  z-index: 5;
  position: absolute;
  top: 30px;
  right: 30px;
  height: 37px;
  border-radius: 4px;
  background-color: $color-background-card;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  color: $color-main;
  align-items: center;
  span::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-image: url('/assets/icons/star-fill.svg');
  }
}

.weigth {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.02em;
  margin-right: 6px;
  margin-top: 4px;
}
