@import '/styles/colors.module.scss';

.droprs__wrapper {
  width: 100%;
  margin-bottom: 20px;
  position: relative;

  &::before {
    content: '';
    display: block;
    width: 20px;
    height: 10px;
    background-image: url('/assets/icons/down-arrow.svg');
    background-repeat: no-repeat;
    position: absolute;
    right: 20px;
    top: 23px;
  }

  select {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
    background-color: $color-background-card;
    width: 100%;
    color: $color-dropdown-text;
    padding: 16px 20px;
    border: 1px solid rgba(116, 116, 116, 0.4);
    border-radius: 10px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;

    option:focus,
    option:hover,
    option:active {
      background-color: $color-main;
    }
  }
  select:active,
  select:focus {
    outline: none;
  }
}
